<form action="/" method="post">
  <p>Username</p>
  <input name="username" type="text"> 
  <p>Password</p>
  <input name="password" type="password">
  <p><input type="submit" value="log in"></p>
</form>
<br>
<form action="/new_user" method="get">
  <input type="submit" value="Create New User">
</form>
