<form action="/" method "post">
  <p>Username</p>
  <input name="username" type="text"> 
  <p>Password</p>
  <input name="password" type="password">
  <p><input type="submit" value="log in"></p>
</form>
