<form action="/new_user" method="post">
  <h2>Create User</h2>
  <p>Username</p>
  <input name="username" type="text"> 
  <p>Password</p>
  <input name="password" type="password">
  <p>Confirm Password</p>
  <input name="confirm_password" type="password">
  <p><input type="submit" value="log in"></p>
</form>
